@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Lobster&display=swap');

.navbar-brand{
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

h1{
   font-family: 'Fredoka One', cursive;
   text-decoration:underline;
}